body {
    margin: 0px;
    padding: 0px;
}
#navbar {
    background-color: gray;
    padding: 5px;
}

#navbar a{
    color: black;
    text-decoration: none;
}

#navbar li{
    list-style: none;
    display: inline;
    float: right;
}

#navbar-menu {
    float: right;
}